.thumbnail img {
    width: 300px;
    height: 200px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete_form {
    display: inline;
}

#delete-comment-form {
    display: inline;
}