<% include ../partials/header %>

<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-35">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-four active">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-five">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                            Unlimted
                        </h2>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                            Access to our Inventory
                        </p>
                        <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated fadeInUp">
                            All your needs
                        </p>
                        <a class="carousel-btn" href="#" data-animation="animated fadeInUp">See More Details</a>
                    </div>
                    
                </div>
            </div>

            <!-- Third slide -->
            <div class="item carousel-item-six">
                <div class="container">
                    <div class="carousel-position-four text-center">
                            <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                                Save your Searching Time
                            </span>
                        <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
                            
                        </p>
                        <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
                            Get the Business Easy
                        </p>
                    </div>
                </div>
            </div>

            
        </div>

        <!-- Controls -->
        <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button"
           data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button"
           data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- END SLIDER -->

<div class="main">
    <div class="container">
        <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SALE PRODUCT -->
            <div class="col-md-12 sale-product">
                <h2>Best Seller</h2>
                <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model1.jpg" class="img-responsive"
                                     alt="Jet Engine" style="height:200px;    margin: 0 auto;">
                                <div>
                                    <a href="/assets/pages/img/products/model1.jpg"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$2120.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                            <div class="sticker sticker-sale"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model2.jpg" class="img-responsive"
                                     alt="Jet Engine" style="height:200px;    margin: 0 auto;">
                                <div>
                                    <a href="/assets/pages/img/products/model2.jpg"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine2</a></h3>
                            <div class="pi-price">$5129.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model3.jpg" class="img-responsive"
                                     alt="Jet Engine" style="height:200px;    margin: 0 auto;">
                                <div>
                                    <a href="/assets/pages/img/products/model6.jpg"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine2</a></h3>
                            <div class="pi-price">$1558.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model4.jpg" class="img-responsive"
                                     alt="Jet Engine" style="height:200px;    margin: 0 auto;">
                                <div>
                                    <a href="/assets/pages/img/products/model4.jpg"
                                       class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="javascript:;">Jet Engine4</a></h3>
                            <div class="pi-price">$2293.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                            <div class="sticker sticker-new"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- END SALE PRODUCT -->
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-4">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Engine</a></li>
                    <li class="list-group-item clearfix dropdown">
                        <a href="shop-product-list">
                            <i class="fa fa-angle-right"></i>
                            Tires

                        </a>
                        
                    </li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Shaft</a></li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Gears</a></li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Gear Box</a></li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            </a>Engine Blades</li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Rivets</a></li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Oil Additive</a></li>
                    <li class="list-group-item clearfix"><a href="shop-product-list"><i class="fa fa-angle-right"></i>
                            Valve</a></li>
                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-8">

                <div class="owl-carousel owl-carousel3">
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model5.jpg" class="img-responsive"
                                     alt="Jet Engine" style="    height: 227.95px;">
                                <div>
                                    <a href="/assets/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                            <div class="sticker sticker-new"></div>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model6.jpg" class="img-responsive"
                                     alt="Jet Engine" style="    height: 227.95px;">
                                <div>
                                    <a href="/assets/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine2</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model7.jpg" class="img-responsive"
                                     alt="Jet Engine" style="    height: 227.95px;">
                                <div>
                                    <a href="/assets/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine3</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model8.jpg" class="img-responsive"
                                     alt="Jet Engine" style="    height: 227.95px;">
                                <div>
                                    <a href="/assets/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine4</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                            <div class="sticker sticker-sale"></div>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model9.jpg" class="img-responsive"
                                     alt="Jet Engine" style="    height: 227.95px;">
                                <div>
                                    <a href="/assets/pages/img/products/model9.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine5</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model10.jpg" class="img-responsive"
                                     alt="Jet Engine" style="    height: 227.95px;">
                                <div>
                                    <a href="/assets/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine6</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        <!-- BEGIN TWO PRODUCTS & PROMO -->
        <div class="row margin-bottom-35 ">
            <!-- BEGIN TWO PRODUCTS -->
            <div class="col-md-6 two-items-bottom-items">
                <div class="owl-carousel owl-carousel2">
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model9.jpg" class="img-responsive"
                                     alt="Jet Engine" style="">
                                <div>
                                    <a href="/assets/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/model10.jpg" class="img-responsive"
                                     alt="Jet Engine">
                                <div>
                                    <a href="/assets/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/k3.jpg" class="img-responsive"
                                     alt="Jet Engine">
                                <div>
                                    <a href="/assets/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/k1.jpg" class="img-responsive"
                                     alt="Jet Engine">
                                <div>
                                    <a href="/assets/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/k4.jpg" class="img-responsive"
                                     alt="Jet Engine">
                                <div>
                                    <a href="/assets/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <div>
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="/assets/pages/img/products/k3.jpg" class="img-responsive"
                                     alt="Jet Engine">
                                <div>
                                    <a href="/assets/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="shop-item">Jet Engine</a></h3>
                            <div class="pi-price">$29.00</div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TWO PRODUCTS -->
            
        </div>
        <!-- END TWO PRODUCTS & PROMO -->
    </div>
</div>


<% include ../partials/footer %>