<% include ../partials/header %>

<br>
<br>
<br>


    
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>


    


<div class="container">
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <p>
                <%= product %>
                
            </p>
            
            
            
        </div>
    </div>
</div>
    
    
    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% include ../partials/footer %>